.header {
    max-height: 100vh;
    background: center/cover no-repeat url("../assets/header/bg_header_743.png");
    display: flex;
    padding: 0 0 153px 0;
    flex-direction: column;
    &__logo {
        margin: calc((1/12) * 100vh) auto;
    }
    &__phrase {
        line-height: 40px;
        font-weight: 900;
        letter-spacing: 0.16em;
        color: #fff;
        &:after {
            width: 0;
        }
    }
    &__small-phrase {
        position: relative;
        margin-bottom: 278px;
		text-align: center;
        font-size: 26px;
        line-height: 40px;
        font-weight: 400;
        text-transform: none;
        letter-spacing: 0.16em;
        color: #fff;
        &:after {
            content: '';
            position: absolute;
            width: 104px;
            bottom: -50px;
            height: 2px;
            left: 50%;
            background-color: #fff;
            margin: 0px 0px 0px -52px;
        }
    }
    &__readmore {
		display: flex;
		align-items: center;
        flex-direction: column;
        width: 190px;
        margin: 0 auto;
    }
    &__readmore-text {
        text-transform: uppercase;
		text-align: center;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #fff;
        border: 1px solid #fff;
        padding: 16px 35px;
        margin: auto auto 75px auto;
        width: 182px;
    }
}
.navmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container {
        padding: 22px 0px 24px 0px;
        width: 450px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
    &__element {
        cursor: pointer;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        color: #3c3c3c;
        &_active {
            font-weight: 700;
            color: #ada074;
        }
    }
}


@media screen and (max-width: $sm) {
    .header {
        max-height: 100vh;
        &__logo {
            margin: calc((1/12) * 100vh) auto;
        }
        &__small-phrase {
            margin: 0 0 100px 0;
            font-size: 20px;
            &:after {
                bottom:-20px;
            }
        }
        &__readmore-text {
            margin: 0 0 30px 0;
        }   
    }
    
    .navmenu {
        &__container {
            padding: 22px calc(10px + (30 - 10) * ((100vw - 320px) / (576 - 320)));
            width: 100%;
        }
        &__element {
            font-size: 12px;
        }
    }
}