$sm: 576px;
$md: 768px;
$lg: 992px;

@import "nullstyle.scss";

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

html {
	scroll-behavior: smooth;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
body {
	font-family: Lato;
	user-select: none;
	width: 100%;
	max-width: 100%;
}

.title {
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	position: relative;
	text-align: center;
	padding: 0 1em;
	&:after {
		content: '';
		position: absolute;
		width: 80px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: #000;
		margin: 0px 0px 0px -40px;
	}
}


@media screen and (max-width: $md) {
	.title {
		font-size: 24px;
	}
}

@media screen and (max-width: $sm) {
	.title {
		font-size: 20px;
	}
}

@import "header.scss";
@import "about.scss";
@import "portfolio.scss";
@import "partners.scss";
@import "contact.scss";
@import "footer.scss";